{
  "blacklist": [
    "regenerator"
  ],
  "optional": [
    "runtime",
    "es7.classProperties",
    "asyncToGenerator",
    "optimisation.flow.forOf"
  ],
  "loose": [
    "es6.spread",
    "es6.destructuring",
    "es6.forOf"
  ],
  "plugins": ["add-jsdoc-properties"]
}
