node_modules
/docs
/coverage
/build
/lib-node6
/lib-node6-dev
/lib-older-node
/lib-older-node-dev

/.settings
/.project
/.idea
*.sublime-project
*.sublime-workspace

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
